body{
  height: 3500px;
  background-color: black;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 300px;
  display: flex;
}

.left{
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 48, 48);
}

img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.right{
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 77, 77);
  width: 100%;
}

.right-container{
  margin-left: 20px;
  margin-right: 20px;
}

p{
  color: rgb(156, 156, 156);
  font-family: Arial, Helvetica, sans-serif;
}

.info-container{
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 20px;
}

.info{
  color: white;
  margin: 0;
  margin-top: 5px;
}

.a{
  font-size: 23px;
  margin: 0;
}
